<!DOCTYPE>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../static/materialize/css/materialize.min.css"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="../../static/atma.css" />
        <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../static/materialize/js/materialize.min.js"></script>
    <script src="../../static/sheets.js"></script>
 <style>

.page-header{
  color: black;
  text-decoration: underline;
}

 </style>

  </head>
  <body>
   <center> <img src="/media/logo.png"  alt=" " style="height=20px; margin-top:5%;" ><br><br></center>
  <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href="#" id="xx">
     
      <i class="large material-icons">play_for_work</i>
    
    </a>

    <br><br>
  </div>
  <div class="container push-down">
    <div class="row">
      <h4 class="page-header">Annual Implementation Plan</h4>
    </div>
    <table id="AIPSpreadsheet">
        <thead> 
          <tr>
              <th data-field="id">Priority</th>
              <th data-field="id">Strategy</th>
              <th data-field="id">Project</th>
            <th data-field="id"> <a href="/Quarter_Details/1/"> Quarter 1</a></th>
               <th data-field="id"><a href="/Quarter_Details/2/">Quarter 2</a></th>
               <th data-field="id"><a href="/Quarter_Details/3/">Quarter 3</a></th>
               <th data-field="id"><a href="/Quarter_Details/4/">Quarter 4</a></th>
              <th data-field="id">Resources</th>
              <th data-field="id">Person Responsible</th>
              <th data-field="id">Project Status</th> 
          </tr>
        </thead>

        <tbody>

           {% for AIP_Details in AIP %}
          <tr>
           
            <td>{{AIP_Details.priority_area}}</td>
            <td>{{AIP_Details.strategy}}</td>
            <td>{{AIP_Details.project_name}}</td>
            <td>{{AIP_Details.quarters.0}}</td>
            <td>{{AIP_Details.quarters.1}}</td>
            <td>{{AIP_Details.quarters.2}}</td>
            <td>{{AIP_Details.quarters.3}}</td>
            <td>{{AIP_Details.resources}}</td>
            <td>{{AIP_Details.person_responsible}}</td>
            <td>{{AIP_Details.status}}</td>
          </tr>
              {% endfor %}

        </tbody>
    </table>

<!--
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Priority Area</th>
        <th>Strategy</th>
        <th>Project</th>
		<th>Quarter 1</th>
		<th>Quarter 2</th>
		<th>Quarter 3</th>
		<th>Quarter 4</th>
    <th>Resources</th>
    <th>Person Responsible</th>
    <th>Project Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
      </tr>

    </tbody>
  </table>
  -->
</div>

</body>
</html>

