<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Quarterly Plan</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Organisation</th>
        <th>PM</th>
        <th>Project</th>
		<th>Start Date</th>
		<th>Completion Date</th>
		<th>Volunteer Required</th>
		<th>Volunteer Name</th>
		<th>Volunteer Name</th>
		<th>Project Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>

