<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<title>ATMA - An accelerator for education NGO's</title>
</head>

<script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</script>
<style type="text/css">
.container{
	margin-top: 2;
}
.page-header{
	font-weight: bold;
	font-size: 30px;
}
.image{
width:200px;
}
.right{
margin-left: 20%;
}
</style>
<body>

<div class="container">

<div class="page-header"><span>SEPTEMBER</span><span class="right">OCTOBER </span><span class="right">NOVEMEBER</span></div>
<br>
<a href="#" data-toggle="tooltip" data-placement="top" title="First Work">
<img src="https://github.com/Mumbai2016/team-12/blob/master/atma/media/bar.png?raw=true" class="image">
</a>
<br><br><br>
<a href="#" data-toggle="tooltip" data-placement="top" title="Second Work">
<center><img src="https://github.com/Mumbai2016/team-12/blob/master/atma/media/bar.png?raw=true" class="image"></center>
</a>
<br><br><br>
<a href="#" data-toggle="tooltip" data-placement="top" title="Third Work">
<img src="https://github.com/Mumbai2016/team-12/blob/master/atma/media/bar.png?raw=true" class="image" style="margin-left:80%;">
</a>
</div>
</body>