<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/bootstrap.js"></script>
<script src="/static/bootstrap_jquery.js"></script>
<link rel="stylesheet" href="/static/bootstrap.css">
<title>ATMA - An accelerator for education NGO's</title>
</head>

<script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</script>
<style type="text/css">
.container{
	margin-top: 2;
}
.page-header{
	font-weight: bold;
	font-size: 30px;
}
.image{
width:200px;
}
.right{
margin-left: 30%;
}
</style>
<body>

<div class="container">

<div class="page-header"><span>SEPTEMBER &nbsp; &nbsp;</span><span class="right"> OCTOBER  &nbsp; &nbsp;</span><span class="right">NOVEMEBER</span></div>
<br>
<a href="#" data-toggle="tooltip" data-placement="top" title="First Work">
<img src="/media/bar.png" class="image">
</a>
<br><br><br>
<a href="#" data-toggle="tooltip" data-placement="top" title="Second Work">
<center><img src="/media/bar.png" class="image"></center>
</a>
<br><br><br>
<a href="#" data-toggle="tooltip" data-placement="top" title="Third Work">
<img src="/media/bar.png" class="image" style="margin-left:80%;">
</a>
</div>
</body>